<div class="add-review-modal-container">
    <h1 mat-dialog-title>
        Dodaj Recenzję
    </h1>
    <div mat-dialog-content class="input-container">
        <mat-form-field class="input">
            <mat-label>
                Recenzja
            </mat-label>
            <textarea matInput required="true" [(ngModel)]="data.review_text" rows="5"></textarea>
        </mat-form-field>

        <mat-form-field class="input">
            <div>
                <mat-label class="row">Ocena:
                    <div class="column" *ngFor="let i of [1, 2, 3, 4, 5]">
                        <img src="assets/star.png" [class.yellow]="i > data.mark" />
                    </div>
                </mat-label>
                <input matInput required="true" type="number" min="1" max="5" [(ngModel)]="data.mark">
            </div>
        </mat-form-field>

    </div>
    <div mat-dialog-actions class="button-container">
        <button mat-raised-button color="primary" class="button" (click)="onNoClick()">
            Anuluj
        </button>
        <button mat-raised-button color="primary" class="button" [disabled]="data.review_text.length <= 0 && data.mark>5 && data.mark<1"
            [mat-dialog-close]="data">
            Dodaj
        </button>
    </div>
</div>