<div class="add-religious-center-modal-container">
    <h1 mat-dialog-title>
        Dodaj wspólnotę
    </h1>

    <div mat-dialog-content
         class="input-container">
         <mat-form-field class="input">
            <mat-label>
                Nazwa wspólnoty
            </mat-label>
            <input matInput
                   required="true"
                   [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>
                Opis
            </mat-label>   
            <input matInput
                   [(ngModel)]="data.desc">
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>
                Typ religii
            </mat-label>   
            <input matInput
                   required="true"
                   [(ngModel)]="data.religion_type_id">
        </mat-form-field >
            
        <mat-form-field class="input">
            <mat-label>
                Zdjęcie
            </mat-label>   
            <input matInput
                   [(ngModel)]="data.image">
        </mat-form-field>
    </div>

    <div mat-dialog-actions
         class="button-container">
        <button mat-raised-button
                color="primary" 
                class="button"
                (click)="onNoClick()">
            Anuluj
        </button>
        <button mat-raised-button
                color="primary"
                class="button"
                [mat-dialog-close]="data">
            Dodaj
        </button>
    </div>
</div>
