.add-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 65%;
    background-color: #eee;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 16px;

    .distance{
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .button-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button {
        margin-top: 7px;
      }
    }
  }
