<div class="register-component">
    <mat-card class="register-card">
        <div class="header">
            <h1>
                Rejestracja
            </h1>
        </div>
        <div class="input-wrapper">
            <mat-form-field class="input">
                <mat-label>
                    Nazwa
                </mat-label>
                
                <input matInput 
                       required="true"
                       [(ngModel)]="name">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>
                    E-mail
                </mat-label>
                
                <input matInput 
                       required="true"
                       [(ngModel)]="email">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>
                    Hasło
                </mat-label>
                
                <input matInput 
                       required="true"
                       type="password"
                       [(ngModel)]="password">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>
                    Powtórz hasło
                </mat-label>
                
                <input matInput 
                       required="true"
                       type="password"
                       [(ngModel)]="passwordRepeat">
            </mat-form-field>

            <button class="button"
                    mat-raised-button
                    color="primary"
                    [disabled]="name.length <= 0 || email.length <= 0 || password.length <= 0 || passwordRepeat.length <= 0"
                    (click)="onClick()">
                Zarejestruj się
            </button>
            <label>
                Masz konto? 
                <a routerLink="/login">
                    Zaloguj się
                </a>
            </label> 
        </div>
    </mat-card>
</div>