<div class="add-religious-center-modal-container">
    <h1 mat-dialog-title>
        Dodaj Ogłoszenie
    </h1>

    <div mat-dialog-content
         class="input-container">
         <mat-form-field class="input">
            <mat-label>
                Ogłoszenie
            </mat-label>
            <textarea matInput required="true" [(ngModel)]="data.announcment" rows="5"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions
         class="button-container">
        <button mat-raised-button
                color="primary" 
                class="button"
                (click)="onNoClick()">
            Anuluj
        </button>
        <button mat-raised-button
                color="primary"
                class="button"
                [disabled]="data.announcment.length <= 0"
                [mat-dialog-close]="data">
            Dodaj
        </button>
    </div>
</div>
